<div class="posts">
  <div class="container">
    <h3 class="h2 mb-4">Kam pokračovat?</h3>
    <div class="row g-lg-4 g-3">
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postTag.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postTag.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postTag.twig" %}
      </div>
    </div>
  </div>
</div>
