<div class="programItem">
  <div class="programItem__content">
    <div class="programItem__date">24. 11. 2024 – 26. 11. 2024</div>
    <a href="#" class="h4"> Muži - turnaj GEL S.Makedonie: CZE - EST </a>
  </div>

  <a href="#" class="link">Zobrazit nominaci</a>
</div>
