<div class="matchDetail">
  <ul class="matchDetail-head">
    <li class="matchDetail-head__item">
      <img src="images/ico/trophy.svg" loading="lazy" alt="icon" />
      <strong> Soutěž: </strong>
      ČEZ Extraliga muži, 12. kolo
    </li>
    <li class="matchDetail-head__item">
      <img src="images/ico/calendar.svg" loading="lazy" alt="icon" />
      <strong> Datum a čas: </strong>
      24. 11. 2024, 12:00
    </li>
    <li class="matchDetail-head__item">
      <img src="images/ico/marker.svg" loading="lazy" alt="icon" />
      <strong> Místo konání: </strong>
      Starez Aréna Vodova, Brno (296 diváků)
    </li>
    <li class="matchDetail-head__item">
      <img src="images/ico/rozhodci-b.svg" loading="lazy" alt="icon" />
      <strong> Rozhodčí: </strong>
      Dušan Rychlík, Tomáš Buchar, Václav Červený, Jiří Ibl
    </li>
  </ul>
  <div class="matchDetail__content">
    <div class="matchDetail__team">
      <h3 class="h3">VK Jihostroj České Budějovice</h3>
      <img src="images/content/club-1.png" loading="lazy" alt="club" />
    </div>
    <div class="matchDetail__result">3:2</div>
    <div class="matchDetail__team">
      <img src="images/content/club-2.png" loading="lazy" alt="club" />
      <h3 class="h3">Kladno volejbal cz</h3>
    </div>
  </div>
  <p class="p2 text-primary text-center">25:21, 26:28, 25:16, 22:25, 12:15</p>
</div>
