<article class="article-section mt-lg-6">
  <div class="container">
    <div class="article-section__img">
      <img src="images/content/article.png" loading="lazy" alt="article" />
    </div>
    <div class="article">
      <div class="article-content">
        <div class="tag mb-3">Extraliga žen</div>
        <h1 class="h1 mb-3">
          Sobotní zápasy 5. kola extraligy žen se nesly v duchu tiebreaků
        </h1>
        <div class="text-tertiary mb-xl-4 mb-3">so 26. 10. 2024</div>

        <div class="o-content">
          <div class="perex">
            Ve čtvrtfinále Chance Českého poháru žen 2024/25 svedl los proti
            sobě Ostravu a Olymp Praha. Pražanky si určitě pečlivě nastudovaly
            svého soupeře i ze zápasů v pohárové Evropě, protože právě
            Targoviště, které vyřadilo minulou středu Ostravanky z Challenge
            Cupu, bude dalším soupeřem Olympu. Realizační tým domácí Ostravy
            také nezahálel a důkladně se na důležitý zápas připravil. Utkání
            bylo velmi dramatické, bohužel před tristní návštěvou. Nakonec se z
            vítězství i postupu do semifinále radoval Olymp.
          </div>
          <p>
            <strong>Michaela Drozdová (kapitánka TJ Ostrava):</strong> „Nás moc
            mrzí, že jsme dneska nedokázaly Olymp na domácí půdě porazit. Šlo
            vidět, že oba týmy chtěly do Final Four a rozhodly maličkosti. Olymp
            nás výborně bránil a v koncovkách byl šťastnější, takže jim
            gratuluji. Nás to mrzí, musíme se z toho otřepat a jít dál. “
          </p>
          <p>
            <strong> Zdeněk Pommer (trenér TJ Ostrava):</strong> „Dneska Olymp
            vyhrál zaslouženě. My jsme dobře vstoupili do zápasu, kdy jsme
            úspěšně tlačili servisem a trestuhodně jsme nedohráli koncovku
            druhého setu. Když jsme vedli 1:0, tak jsme nechali Olymp nadechnout
            a ve třetím setu jsme udělali strašně chyb. Čtvrtý set už byl boj,
            ale tam jsme neubránili Brancuskou, která hrála dneska dobře.“
          </p>
          <p>
            <strong>Veronika Dostálová (kapitánka PVK Olymp Praha):</strong>
            „Já jsem hrozně ráda za výhru, bylo to těžké utkání. Věděly jsme, že
            v Ostravě na jejích domácí palubovce to bude takto vypadat. První
            set jsme byly asi někde na cestě, bohužel tak to někdy bývá, ale
            jsem ráda, že ten tým zabojoval, hlavně v koncovce druhého setu,
            který byl velice těžký a houpalo se jako voda sem a tam. My musíme
            začít věřit tomu, že když hrajeme takto a bojujeme o každý míč, tak
            jsme silnější tým. Já moc děkuji celému týmu.“
          </p>
          <p>
            <strong>Lukáš Miček (trenér PVK Olymp Praha):</strong> „Tak určitě
            jsme rádi, že jsme tu vyhráli, v Ostravě se nikdy nehraje lehko. Nám
            moc nevyšla cesta, takže za to jsme ještě o to víc rádi, že se nám
            to podařilo. Do zápasu jsme nevstoupili dobře, ale dokázali jsme se
            vzpamatovat a vyhrát.“
          </p>
          <p>
            Začátek zápasu byl vyrovnaný až do stavu 4:4, pak se Ostrava utrhla
            na 8:4. Domácí volejbalistky dokázaly vedení postupně navyšovat až
            do stavu 18:8. I přes snahu Olympu set zdramatizovat (19:12, 22:18)
            dokázala Ostrava sadu dotáhnout k vítěznému konci.
          </p>
          <p>
            Úvod druhého setu patřil hostujícímu Olympu, který velmi rychle vedl
            - 0:3, 3:7, 8:11. Pak konečně zabralo domácí družstvo a dostalo se
            poprvé v setu do vedení 12:11 a za chvíli navýšilo na 16:13. Ovšem
            přetahovaná nahoru, dolů nebrala konce (16:17, 18:17, 18:19, 20:19).
            Poté přece jen Ostravanky dokázaly získat dva setboly (24:22), ale
            Olymp oba odvrátil a poté přibýval jeden setbol za druhým na jeho
            straně a šestý v pořadí se mu už podařilo proměnit.
          </p>
          <p>
            Třetí set začal lépe pro domácí volejbalistky, kdy poprvé donutily
            trenéra Olympu vzít si time za stavu 8:4. Záhy následoval druhý time
            za stavu 12:7. Pak se dostala ovšem na servis hostující smečařka
            Hodanová a sedmibodovou sérií otočily Pražanky stav na 12:14, pak už
            postupně navyšovaly vedení a koncovka byla plně v jejich v režii.
          </p>
          <p>
            Čtvrtý set byl velmi dramatický. První vedení o dva body přišlo až
            za stavu 9:7 pro domácí. Ostrava potom držela vedení (11:8, 12:9),
            ale Olymp dokázal srovnat krok (12:12). Ostravě se znovu podařilo
            odskočit (16:13, 17:14), ale její vedení, i díky time outu hostů,
            opět nevydrželo (17:17). Závěr setu byl velice dramatický a vedení
            se přelévalo ze strany na stranu (19:17, 19:21, 22:21, 22:23,
            23:24). Poslední výměna utkání byla dlouhá a nesmírně dramatická,
            šťastnější nakonec odcházel Olymp. Hráčkou utkání byla vyhlášena
            hostující Monika Brancuská.
          </p>
        </div>
        <div class="mt-xl-5 mt-4">
          {% include "@components/galleryBox/galleryBox.twig" %}
        </div>
      </div>
      <div class="article-aside">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</article>
