.article-section {
  &__img {
    margin-bottom: 48px;
    width: 100%;
    aspect-ratio: 1440/638;
    @include media-breakpoint-down(xl) {
      margin-bottom: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.article {
  max-width: 1366px;
  margin: 0 auto 48px;
  display: flex;
  gap: 48px;
  padding-bottom: 48px;
  border-bottom: 2px solid var(--color-line);
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  @include media-breakpoint-down(xl) {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
  &-content {
    flex: 1;
  }
  &-aside {
    width: 22.8rem;
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
}
