<section class="videosTV">
  <div class="container">
    <div class="videosTV-head">
      <div class="videosTV__logo">
        <img src="images/ico/volejbaltv.svg" loading="lazy" alt="volejbal tv" />
      </div>
      <a href="#" class="link link--light">Zobrazit další videa</a>
    </div>
    <div class="row g-lg-4 g-3">
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postVideo.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postVideo.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/post/postVideo.twig" %}
      </div>
    </div>
  </div>
</section>
