<aside class="asideMenu">
  <nav class="asideNav" aria-label="Navigace" id="js-asideNav">
    <h2 class="h3 asideNav-title">ČVS</h2>
    <ul class="asideNav-menu">
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Kontakt </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link active" href="#"> Profil ČVS </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Registrace </a>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Sekretariát</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Generální sekretář </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Generální sekretář </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Kontakty</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Kontakty 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Kontakty 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Kalendář akcí </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Partneři </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Rozhodčí </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Směrnice a legislativa </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Síň slávy </a>
      </li>

      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Historie </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Dokumenty </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> Struktura </a>
      </li>
      <li class="asideNav-item">
        <a class="asideNav-link" href="#"> FAQ </a>
      </li>
    </ul>
  </nav>
</aside>
