<aside class="asideMenu">
  <nav class="asideNav" aria-label="Navigace" id="js-asideNav">
    <h2 class="h3 asideNav-title">Extraliga</h2>
    <ul class="asideNav-menu">
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >ČEZ Extraliga muži</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Týmy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Program </a>
          </li>

          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Výsledky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Live přenosy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sociální sítě </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sestava kola </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Highlights </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Ženy A tým
        </a>
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Týmy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Program </a>
          </li>

          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Výsledky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Live přenosy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sociální sítě </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sestava kola </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Highlights </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mládežnické reprezentace muži</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Týmy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Program </a>
          </li>

          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Výsledky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Live přenosy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sociální sítě </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sestava kola </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Highlights </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mládežnické reprezentace ženy
        </a>
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Týmy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Program </a>
          </li>

          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Výsledky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Live přenosy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sociální sítě </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sestava kola </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Highlights </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Beachvolejbal
        </a>
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Týmy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Program </a>
          </li>

          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Výsledky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Live přenosy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sociální sítě </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Sestava kola </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Highlights </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
