<aside class="asideMenu">
  <nav class="asideNav" aria-label="Navigace" id="js-asideNav">
    <h2 class="h3 asideNav-title">Reprezentace</h2>
    <ul class="asideNav-menu">
      <li class="asideNav-item asideNav-item--hasSubMenu is-active">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle is-active"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Muži A tým</a
        >
        <ul class="SubMenu is-active">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Širší nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Realizační tým </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Program</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Program 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 2</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 3</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 4</a>
              </li>
            </ul>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Videa </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link active" href="#"> Fotogalerie </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Ženy A tým</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Širší nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Realizační tým </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Program</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Program 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 2</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 3</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 4</a>
              </li>
            </ul>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Videa </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mládežnické reprezentace muži</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Širší nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Realizační tým </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Program</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Program 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 2</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 3</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 4</a>
              </li>
            </ul>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Videa </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mládežnické reprezentace ženy</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Širší nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Realizační tým </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Program</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Program 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 2</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 3</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 4</a>
              </li>
            </ul>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Videa </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
        </ul>
      </li>
      <li class="asideNav-item asideNav-item--hasSubMenu">
        <a
          href="#"
          class="asideNav-link js-subMenu-toggle"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Beachvolejbal</a
        >
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Zprávy </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Širší nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Realizační tým </a>
          </li>
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a
              href="#"
              class="SubMenu-link js-subMenu-toggle"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Program</a
            >
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#">Program 1</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 2</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 3</a>
              </li>
              <li class="SubMenu-item">
                <a class="SubMenu-link" href="#" target="_blank">Program 4</a>
              </li>
            </ul>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Nominace </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Statistiky </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Videa </a>
          </li>
          <li class="SubMenu-item">
            <a class="SubMenu-link" href="#"> Fotogalerie </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
