<aside class="aside">
  <a href="#" class="pub mb-3" target="_blank">
    <img src="images/content/banner-2.png" loading="lazy" alt="ban" />
  </a>
  <div class="tag mb-3">Extraliga žen</div>
  <div class="mb-3">{% include "@components/post/post.twig" %}</div>
  <div class="mb-3">{% include "@components/post/post.twig" %}</div>
</aside>
