<a class="playerItem" href="#">
  <div class="playerItem__avatar">
    <div class="playerItem__img">
      <img src="images/content/ava-def.png" loading="lazy" alt="ava" />
    </div>
    <div class="playerItem__num">69</div>
  </div>
  <div class="playerItem__content">
    <h3 class="h4">Luboš Bartůněk</h3>
    <div class="fw-bold">blokař</div>
    <div class="p2">189 cm</div>
  </div>
</a>
