<a class="playerItem" href="#">
  <div class="playerItem__img">
    <img src="images/content/ava-def.png" loading="lazy" alt="ava" />
  </div>
  <div class="playerItem__content">
    <h3 class="h4">Luboš Bartůněk</h3>
    <div class="fw-bold">blokař</div>
    <div class="p2 text-tertiary">nar. 17. 11. 1993 (31 let)</div>
  </div>
</a>
