.button-primary {
  background: var(--color-primary);
  color: var(--color-light);
  text-decoration-color: transparent;
  //   border: 0.0625rem solid var(--color-primary);
  height: 2.75rem;
  font-size: 1.125rem;
  line-height: 1;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 2px 16px 0;
  transition: all 0.25s ease;
  font-weight: 500;
  &:hover {
    background: var(--color-primary-80);
  }
}
