.detailBox {
  border-radius: 6px;
  background-color: var(--color-line);
  padding: 20px 40px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      gap: 8px 12px;
    }
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
    a {
      color: var(--color-primary);
    }
  }
  hr {
    border: 0 !important;
    height: 1px !important;
    background-color: var(--color-primary-50);
    margin: 16px 0;
  }
}
.detailBox {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-weight: 700;
    }
  }
}

.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  margin: 0 auto;

  &--yes {
    background-image: url("../images/ico/check.svg");
    background-color: rgba(25, 135, 84, 0.12);
  }

  &--no {
    background-image: url("../images/ico/close.svg");
    background-color: rgba(#e4003a, 0.12);
  }
}

 
