.subPage {
  margin-top: 48px;
  position: relative;
  margin-bottom: 48px;
  @include media-breakpoint-down(xl) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &-grid {
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding-bottom: 48px;
    border-bottom: 2px solid var(--color-line);
    gap: 48px;
    @include media-breakpoint-down(xl) {
      padding-bottom: 32px;
    }
  }
  &-content {
    flex: 1;
  }
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
}

.subPageFilter {
  display: flex;
  align-items: center;
  gap: 24px 32px;
  flex-wrap: wrap;
  &__links {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__link {
    position: relative;
    padding-left: 24px;
    font-weight: 700;
    color: var(--color-primary);
    display: block;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      background-color: var(--color-light);
      border: 1px solid var(--color-primary);
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__link.active {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10.5px;
      height: 10.5px;
      background-color: var(--color-primary);
      left: 3.5px;
    }
  }
}
