.tableBox {
  padding-bottom: 12px !important;
  table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
  }
  th {
    border-bottom: 1px solid var(--color-primary);
  }
  th {
    padding: 4px 12px;
  }

  td {
    padding: 8px 12px;
  }
  td {
    border-bottom: 1px solid var(--color-line);
  }
  td a {
    text-decoration-color: transparent;
    white-space: nowrap;
    &:hover {
      text-decoration-color: inherit;
    }
  }
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
