.tag {
  color: var(--color-light);
  background-color: var(--color-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  width: fit-content;
  border-radius: 6px;
  padding: 4px 16px 2px 16px;
}
