<div class="team">
  <a href="#" class="team__img">
    <img src="images/content/team.png" loading="lazy" alt="team" />
  </a>
  <h3 class="h4 mb-2 text-center">
    <a href="#">VK Jihostroj České Budějovice</a>
  </h3>
  <a href="www.volejbalcb.cz" class="p2 text-center">www.volejbalcb.cz </a>
</div>
