<div class="galleryBox">
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </a>
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </a>
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </a>
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </a>
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </a>
  <a
    data-source="/cesky-volejbal/build/ajax-gallery.json"
    data-gallery-id="1"
    href="#"
    class="galleryBox__item"
  >
    <img src="images/content/article.png" loading="lazy" alt="article" />
    <div class="galleryBox__count">
      <span class="h1 text-light">+12</span>
      <div class="link text-light">Zobrazit celou galerii</div>
    </div>
  </a>
</div>
