<div class="partners">
  <div class="container">
    <div class="partners__inner">
      <div class="partnersMain-col">
        <h6 class="h4 mb-3">Generální partner</h6>
        <a target="_blank" href="#" class="partnersMain__item">
          <img
            src="images/content/partners/p-1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="partnersSub-col">
        <h6 class="h4 mb-3">Partneři</h6>
        <ul class="partnersSub__list">
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-2.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-3.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-4.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-5.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-6.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-7.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-8.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-9.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-10.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="#" class="partnersSub__item">
              <img
                src="images/content/partners/p-11.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
