<div class="scoreboard">
  <div class="scoreboard__inner" id="js-scoreboard">
    <div class="scoreboard__box">
      <div class="scoreboard__league">ČEZ Extraliga muži</div>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">0:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">1:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <div class="scoreboard__league">
        Extraliga <br />
        ženy
      </div>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">0:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">1:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">0:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">1:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">0:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item">
        <p class="p3">so 26. 10. 2024, 18:00</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">2:3</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">0:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">1:1</div>
      </a>
    </div>
    <div class="scoreboard__box">
      <a href="#" class="scoreboard__item scoreboard__item--live">
        <p class="p3">ZÁPAS PROBÍHÁ</p>
        <div class="scoreboard__teams">
          <div class="scoreboard__team">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            CBU
          </div>
          <div class="scoreboard__team">
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
            KLA
          </div>
        </div>
        <div class="scoreboard__result">1:1</div>
      </a>
    </div>
  </div>
</div>
