<a
  href="https://www.youtube.com/watch?v=4bOdnvxKLY4"
  class="post postVideo js-video"
>
  <div class="post__img">
    <img src="images/content/article.png" loading="lazy" alt="post" />
  </div>
  <div class="py-3 px-lg-4 px-3">
    <h4 class="h4 mb-2">
      Češi si ve skupině světového šampionátu zahrají s Brazílií, Srbskem a
      Čínou
    </h4>
    <div class="p2 text-tertiary">čt 24. 10. 2024</div>
  </div>
</a>
