<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/article.png" loading="lazy" alt="post" />
  </div>
  <div class="py-3 px-lg-4 px-3">
    <h4 class="h4 mb-2">
      Po 6. kole ČEZ extraligy jsou bez prohry pouze pražští Lvi
    </h4>
    <div class="p2 text-tertiary">čt 24. 10. 2024</div>
  </div>
</a>
