<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/article.png" loading="lazy" alt="post" />
    <div class="tag">ČEZ extraliga muži</div>
  </div>
  <div class="p-lg-4 p-3">
    <h3 class="h3">
      Po 6. kole ČEZ extraligy jsou bez prohry pouze pražští Lvi
    </h3>
    <p>
      Lídr Volejbalové ČEZ extraligy můžů 2024/25 z Kladna vítěznou sérii
      neprodloužil, i když vedl v Českých Budějovicích 2:0, a tak jediným letos
      neporaženým týmem zůstávají Lvi Praha, kteří naopak nechali bez letošního
      vítězství Ústí nad Labem. Také Příbram ve Zlíně neproměnila své vedení 2:1
      ve tři body a Fatra zápas otočila. V Liberci pokračovala Ostrava ve výkonu
      z poloviny týdne, kdy Duklu vyřadila ze Chance Českého poháru, a zvítězila
      i v extraligovém měření sil. Jediným jednoznačným zápasem byla výhra
      Beskyd nad Brnem. V předehrávce 6. kola zvítězilo Karlovarsko nad
      Benátkami nad Jizerou 3:1.
    </p>
    <div class="p2 text-tertiary">čt 24. 10. 2024</div>
  </div>
</a>
