<a
  href="#"
  class="post"
  data-source="/cesky-volejbal/build/ajax-gallery.json"
  data-gallery-id="1"
>
  <div class="post__img">
    <img src="images/content/article.png" loading="lazy" alt="album" />
    <div class="post__count">
      <img src="images/ico/album.svg" alt="album" />
      32
    </div>
  </div>
  <div class="py-3 px-lg-4 px-3">
    <h4 class="h4">
      Češi si ve skupině světového šampionátu zahrají s Brazílií, Srbskem a
      Čínou
    </h4>
  </div>
</a>
