<section class="social-section">
  <div class="social-section__inner">
    <a href="#" class="social-section__item" target="_blank">
      <img src="images/content/social/fb.png" loading="lazy" alt="social" />
      Facebook
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img
        src="images/content/social/twitter.png"
        loading="lazy"
        alt="social"
      />
      X
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img src="images/content/social/insta.png" loading="lazy" alt="social" />
      Instagram
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img
        src="images/content/social/youtube.png"
        loading="lazy"
        alt="social"
      />
      YouTube
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img src="images/content/social/flickr.png" loading="lazy" alt="social" />
      Flickr
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img
        src="images/content/social/linkedIn.png"
        loading="lazy"
        alt="social"
      />
      LinkedIn
    </a>
    <a href="#" class="social-section__item" target="_blank">
      <img src="images/content/social/tiktok.png" loading="lazy" alt="social" />
      TikTok
    </a>
  </div>
</section>
