<!-- <div class="TopStories mb-6">
  <div class="container u-height-100p u-md-px-0">
    <div class="TopStoriesRow">
      <div class="TopStoriesContent">
        <section class="TopStory js-topStory" id="TP1">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            src="images/content/article.png"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
            <img
              class="TopStory-img js-topStory-img"
              src="images/content/article.png"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="tag mb-lg-4 mb-3">Český pohár dospělých</div>
            <h1 class="h1 TopStory-title mb-lg-4 mb-3">
              <a href="#"
                >Favorizované Kladno odvrátilo hrozbu vyřazení z Chance ČP až v
                tie-breaku
              </a>
            </h1>
            <time class="text-light" datetime="2022-11-23">23. 11. 2022</time>
          </div>
        </section>
        <section class="TopStory js-topStory is-active" id="TP2">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            src="images/content/nominace.png"
            loading="lazy"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="images/content/post-3.png" />

            <img
              class="TopStory-img js-topStory-img"
              src="images/content/nominace.png"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="tag mb-lg-4 mb-3">Extraliga žen</div>
            <h1 class="h1 TopStory-title mb-lg-4 mb-3">
              <a href="#">
                Sobotní zápasy 5. kola extraligy žen se nesly v duchu tiebreaků
              </a>
            </h1>
            <time class="text-light" datetime="2022-11-23"
              >so 26. 10. 2024</time
            >
          </div>
        </section>
        <section class="TopStory js-topStory" id="TP3">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            src="images/content/post-3.png"
            loading="lazy"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="images/content/post-3.png" />

            <img
              class="TopStory-img js-topStory-img"
              src="images/content/post-3.png"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="tag mb-lg-4 mb-3">Český pohár dospělých</div>
            <h1 class="h1 TopStory-title mb-lg-4 mb-3">
              <a href="#"
                >Pachlopník: Nominace do U21 je povzbuzením po těžkém období</a
              >
            </h1>
            <time class="text-light" datetime="2022-11-23"
              >čt 10. 10. 2024</time
            >
          </div>
        </section>
        <section class="TopStory js-topStory" id="TP4">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            src="images/content/post-2.png"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="images/content/post-3.png" />

            <img
              class="TopStory-img js-topStory-img"
              src="images/content/post-2.png"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="tag mb-lg-4 mb-3">Reprezentace dospělí</div>
            <h1 class="h1 TopStory-title mb-lg-4 mb-3">
              <a href="#">
                Po skončení letní části ČEZ národní tour zamířílo mnoho českých
                párů do zahraničí
              </a>
            </h1>
            <time class="text-light" datetime="2022-11-23">
              čt 10. 10. 2024</time
            >
          </div>
        </section>
        <div class="dots-container">
          <div class="dots">
            <div class="dot is-active" data-slide="1">
              <div class="progress"></div>
            </div>
            <div class="dot" data-slide="2">
              <div class="progress"></div>
            </div>
            <div class="dot" data-slide="3">
              <div class="progress"></div>
            </div>
            <div class="dot" data-slide="4">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="TopStoriesSide NavTopStoriesContainer">
        <nav class="NavTopStories" aria-label="Navigace - top články">
          <ul>
            <li
              class="NavTopStories-item js-topStory-activate is-active"
              data-top-story="TP1"
            >
              <div class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  src="images/content/article.png"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  src="images/content/article.png"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="NavTopStories-textContainer">
                <div class="tag">Český pohár dospělých</div>

                <a href="#" class="NavTopStories-link h4 text-light">
                  Favorizované Kladno odvrátilo hrozbu vyřazení z Chance ČP až v
                  tie-breaku
                </a>
                <time class="text-light p2" datetime="2022-11-23"
                  >čt 10. 10. 2024</time
                >
              </div>
            </li>
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP2"
            >
              <div class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder"
                  src="images/content/nominace.png"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  src="images/content/nominace.png"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="NavTopStories-textContainer">
                <div class="tag">Extraliga žen</div>
                <a href="#" class="NavTopStories-link h4 text-light">
                  Sobotní zápasy 5. kola extraligy žen se nesly v duchu
                  tiebreaků
                </a>
                <time class="p2 text-light" datetime="2022-11-23"
                  >so 26. 10. 2024</time
                >
              </div>
            </li>
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP3"
            >
              <div class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  src="images/content/article.png"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  src="images/content/article.png"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="NavTopStories-textContainer">
                <div class="tag">Český pohár dospělých</div>
                <a href="#" class="NavTopStories-link h4 text-light"
                  >Ve čtvrtfinále Chance Českého poháru nebude chybět
                  Jihostroj</a
                >
                <time class="p2 text-light" datetime="2022-11-23"
                  >23. 11. 2022</time
                >
              </div>
            </li>
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP4"
            >
              <div class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  src="images/content/article.png"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  src="images/content/article.png"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="NavTopStories-textContainer">
                <div class="tag">Reprezentace dospělí</div>
                <a href="#" class="NavTopStories-link h4 text-light"
                  >Po skončení letní části ČEZ národní tour zamířílo mnoho
                  českých párů do zahraničí</a
                >
                <time class="p2 text-light" datetime="2022-11-23"
                  >čt 10. 10. 2024</time
                >
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> -->
<div class="TopStories mb-6">
  <section class="TopStory js-topStory is-active" id="TP1">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/article.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/article.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Český pohár dospělých</div>
          <time datetime="2024-10-10">čt 10. 10. 2024</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Favorizované Kladno odvrátilo hrozbu vyřazení z Chance ČP až v
            tie-breaku
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP2">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/nominace.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/nominace.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Extraliga ženy</div>
          <time datetime="2024-10-26">dnes</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Sobotní zápasy 5. kola extraligy žen se nesly v duchu tiebreaků
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP3">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/post-3.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/post-3.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Český pohár dospělých</div>
          <time datetime="2022-11-23">23. 11. 2022</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Ve čtvrtfinále Chance Českého poháru nebude chybět Jihostroj
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP4">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/post-2.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/post-2.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Reprezentace dospělí</div>
          <time datetime="2024-10-10">čt 10. 10. 2024</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Po skončení letní části ČEZ národní tour zamířílo mnoho českých párů
            do zahraničí
          </a>
        </h1>
      </div>
    </div>
  </section>

  <div class="TopStories-nav" aria-label="Navigace - top články">
    <button
      class="TopStories-navItem dot is-active"
      type="button"
      data-slide="0"
    >
      <span>01</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="1">
      <span>02</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="2">
      <span>03</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="3">
      <span>04</span>
    </button>
  </div>
</div>
