<div class="TopStories mb-6">
  <section class="TopStory js-topStory is-active" id="TP1">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/topstory.jpg"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/topstory.jpg" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/topstory.jpg"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Český pohár dospělých</div>
          <time datetime="2024-10-10">čt 10. 10. 2024</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Favorizované Kladno odvrátilo hrozbu vyřazení z Chance ČP až v
            tie-breaku
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP2">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/nominace.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/nominace.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/nominace.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Extraliga ženy</div>
          <time datetime="2024-10-26">dnes</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Sobotní zápasy 5. kola extraligy žen se nesly v duchu tiebreaků
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP3">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/post-3.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/post-3.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Český pohár dospělých</div>
          <time datetime="2022-11-23">23. 11. 2022</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Ve čtvrtfinále Chance Českého poháru nebude chybět Jihostroj
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="TopStory js-topStory" id="TP4">
    <img
      class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
      src="images/content/post-2.png"
      width="150"
      height="100"
      alt=""
    />

    <picture>
      <source media="(max-width: 992px)" srcset="images/content/post-3.png" />
      <img
        class="TopStory-img js-topStory-img"
        src="images/content/post-2.png"
        width="1920"
        height="1280"
        alt=""
        loading="lazy"
      />
    </picture>

    <div class="container">
      <div class="TopStory-content">
        <div class="TopStory-meta">
          <div class="tag">Reprezentace dospělí</div>
          <time datetime="2024-10-10">čt 10. 10. 2024</time>
        </div>

        <h1 class="h1 TopStory-title">
          <a href="#">
            Po skončení letní části ČEZ národní tour zamířílo mnoho českých párů
            do zahraničí
          </a>
        </h1>
      </div>
    </div>
  </section>

  <div class="TopStories-nav" aria-label="Navigace - top články">
    <button
      class="TopStories-navItem dot is-active"
      type="button"
      data-slide="0"
    >
      <span>01</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="1">
      <span>02</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="2">
      <span>03</span>
    </button>

    <button class="TopStories-navItem dot" type="button" data-slide="3">
      <span>04</span>
    </button>
  </div>
</div>
