@font-face {
   font-family: "Volejbal";
   src: url("../fonts/Volejbal-Regular.woff2") format("woff2"),
        url("../fonts/Volejbal-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
 }
 
 @font-face {
   font-family: "Volejbal";
   src: url("../fonts/Volejbal-RegularItalic.woff2") format("woff2"),
        url("../fonts/Volejbal-RegularItalic.woff") format("woff");
   font-style: italic;
   font-weight: 400;
 }
 
 @font-face {
   font-family: "Volejbal";
   src: url("../fonts/Volejbal-Bold.woff2") format("woff2"),
        url("../fonts/Volejbal-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
 }
 
 @font-face {
   font-family: "Volejbal";
   src: url("../fonts/Volejbal-BoldItalic.woff2") format("woff2"),
        url("../fonts/Volejbal-BoldItalic.woff") format("woff");
   font-style: italic;
   font-weight: 700;
 }
 