:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-primary: #102d69;

  --color-primary-80: rgba(16, 45, 105, 0.8);
  --color-secondary: #e4003a;
  --color-tertiary: #a0a0ab;

  --color-line: #ececec;
}
