{% extends "@components/base/base.twig" %} {% set title =
"26.0_tournament-detail" %} {% block main %}
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-row">
        <ul class="header__assn">
          <li>
            <a href="#" target="_blank">
              <img src="images/ico/fivb.svg" loading="lazy" alt="fivb" />
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="images/ico/cev.svg" loading="lazy" alt="cev" />
            </a>
          </li>
        </ul>

        <div class="header__media">
          <ul class="header__links">
            <li>
              <a href="#" class=" ">
                <img src="images/ico/coins.svg" loading="lazy" alt="coins" />
                Dotace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/ball.svg" loading="lazy" alt="ball" />
                Paravolejbal
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img
                  src="images/ico/rozhodci.svg"
                  loading="lazy"
                  alt="rozhodci"
                />
                Rozhodčí
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/nadace.svg" loading="lazy" alt="nadace" />
                Nadace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/play.svg" loading="lazy" alt="play" />
                Volej.tv
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/vis.svg" loading="lazy" alt="vis" />
                VIS
              </a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-row">
        <a class="header__logo" href="">
          <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
        </a>
        <nav class="navbar">
          <ul class="navbar__menu">
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Novinky </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> ČVS </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> REPREZENTACE </a>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">Extraliga</div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#">Články</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Zápasy & výsledky </a>
                </li>
                <li class="dropdown-menu__list">
                  <a
                    class="dropdown-item dropdown-toggle"
                    id="multilevel"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="#"
                    >Statistiky
                  </a>
                  <ul
                    class="dropdown-submenu dropdown-menu"
                    aria-labelledby="multilevel"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Multi level 1</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Multi level 2</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Dokumenty </a>
                </li>
              </ul>
            </li>

            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> SOUTĚŽE </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> BEACHvolejbal </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Mládež </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Vzdělávání </a>
            </li>
          </ul>
          <ul class="header__links">
            <li>
              <a href="#" class=" ">
                <img src="images/ico/coins.svg" loading="lazy" alt="coins" />
                Dotace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/ball.svg" loading="lazy" alt="ball" />
                Paravolejbal
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img
                  src="images/ico/rozhodci.svg"
                  loading="lazy"
                  alt="rozhodci"
                />
                Rozhodčí
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/nadace.svg" loading="lazy" alt="nadace" />
                Nadace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/play.svg" loading="lazy" alt="play" />
                Volej.tv
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/vis.svg" loading="lazy" alt="vis" />
                VIS
              </a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </nav>
        <div id="mobile-search" class="searchBox">
          <form>
            <input type="text" placeholder="Najít na stránce" required />
            <button type="submit" class="btn">Hledat</button>
          </form>
        </div>
        <a href="#" class="header__search">
          <img src="images/ico/search.svg" alt="search" />
        </a>
        <button class="c-header__opener js-header__opener" type="button">
          <span></span>
        </button>
        <div id="subMenuBtn">Extraliga</div>
      </div>
    </div>
  </div>
</header>
{% include "@components/scoreboard/scoreboard.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <section class="subPage">
    <div class="container">
      <div class="subPage-grid">
        {% include "@components/aside/asideMenu-extraliga.twig" %}
        <div class="subPage-content w-100">
          <div class="subPage-menu">
            <div class="d-grid gap-3">
              <h1 class="h1">Turnaj 1. kolo (název turnaje)</h1>
              <div class="h3">Hradecká (název soutěže)</div>
            </div>
            <form
              action="/souteze/celostatni-souteze?competitionId=18356&amp;mode=results&amp;filteredGroupId=26543"
              method="post"
              id="frm-filterForm"
              class="subPageFilter"
            >
              <label class="o-select subPageFilter__select">
                <select
                  name="groupId"
                  id="frm-filterForm-groupId"
                  class="js-select"
                >
                  <option value="">Všechny skupiny</option>
                  <option value="26542">
                    1. liga U18 chlapci - 1. část - skupina A
                  </option>
                  <option value="26543">
                    1. liga U18 chlapci - 1. část - skupina B
                  </option>
                </select>
              </label>
              <input
                type="hidden"
                name="_do"
                value="filterForm-submit"
              /><!--[if IE
                ]><input type="IEbug" disabled style="display: none"
              /><![endif]-->
            </form>
          </div>

          <h2 class="h1 mb-lg-32 mb-3">Skupina A</h2>

          <h3 class="h3 mb-lg-4 mb-2">Přehled zápasů</h3>
          <div class="mb-32">
            {% for i in 1..3 %}
            <div class="tournamentItem">
              <div class="tournamentItem__content">
                <div
                  class="d-lg-block d-flex w-lg-auto w-100 gap-2 align-items-center justify-content-md-start justify-content-center"
                >
                  <div class="fw-bold">so 26. 10. 2024</div>
                  <div>18:00 hod.</div>
                </div>
                <div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">Réma Rychnov A</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">VK AŠ Kvasiny</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                </div>
              </div>

              <a href="#" class="h2 nowrap">5:7, 6:8</a>
            </div>
            <div class="tournamentItem">
              <div class="tournamentItem__content">
                <div
                  class="d-lg-block d-flex w-lg-auto w-100 gap-2 align-items-center justify-content-md-start justify-content-center"
                >
                  <div class="fw-bold">so 26. 10. 2024</div>
                  <div>18:00 hod.</div>
                </div>
                <div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">Réma Rychnov A</a>
                    <p>
                      (Jan Novák, Petr Korupční, Jana Zelenková, Petr Korupční)
                    </p>
                  </div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">VK AŠ KvasinyKvasiny</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                </div>
              </div>

              <a href="#" class="h2 nowrap">5:7, 6:8</a>
            </div>
            {% endfor %}
          </div>

          <h3 class="h3 mb-lg-4 mb-2">Tabulka</h3>

          <div class="tournamentTable">
            <table>
              <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
              </colgroup>
              <thead>
                <tr>
                  <th class="bg-line"></th>
                  <th class="fw-bold">Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Výsledek</th>
                  <th>Body</th>
                  <th>Pořadí</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="h1 mb-lg-32 mb-3 mt-5">Skupina B</h2>

          <h3 class="h3 mb-lg-4 mb-2">Přehled zápasů</h3>
          <div class="mb-32">
            {% for i in 1..3 %}
            <div class="tournamentItem">
              <div class="tournamentItem__content">
                <div
                  class="d-lg-block d-flex w-lg-auto w-100 gap-2 align-items-center justify-content-md-start justify-content-center"
                >
                  <div class="fw-bold">so 26. 10. 2024</div>
                  <div>18:00 hod.</div>
                </div>
                <div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">Réma Rychnov A</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">VK AŠ Kvasiny</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                </div>
              </div>

              <a href="#" class="h2 nowrap">5:7, 6:8</a>
            </div>
            <div class="tournamentItem">
              <div class="tournamentItem__content">
                <div
                  class="d-lg-block d-flex w-lg-auto w-100 gap-2 align-items-center justify-content-md-start justify-content-center"
                >
                  <div class="fw-bold">so 26. 10. 2024</div>
                  <div>18:00 hod.</div>
                </div>
                <div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">Réma Rychnov A</a>
                    <p>
                      (Jan Novák, Petr Korupční, Jana Zelenková, Petr Korupční)
                    </p>
                  </div>
                  <div
                    class="text-primary d-md-flex d-block align-items-center gap-3"
                  >
                    <a href="#" class="h5">VK AŠ KvasinyKvasiny</a>
                    <p>(Jan Novák, Petr Korupční, Jana Zelenková)</p>
                  </div>
                </div>
              </div>

              <a href="#" class="h2 nowrap">5:7, 6:8</a>
            </div>
            {% endfor %}
          </div>

          <h3 class="h3 mb-lg-4 mb-2">Tabulka</h3>

          <div class="tournamentTable">
            <table>
              <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
              </colgroup>
              <thead>
                <tr>
                  <th class="bg-line"></th>
                  <th class="fw-bold">Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Réma Rychnov A</th>
                  <th>Výsledek</th>
                  <th>Body</th>
                  <th>Pořadí</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
                <tr>
                  <td class="fw-bold">Réma Rychnov A</td>

                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td>
                    <div class="p1 fw-bold">0:1</div>
                    <div class="p2 mt-1">6:25</div>
                  </td>
                  <td class="bg-line">
                    <img
                      class="object-fit-contain"
                      src="images/ico/turnaj-table.svg"
                      width="110"
                      height="40"
                      alt="logo default"
                    />
                  </td>
                  <td>
                    <div class="p1 fw-bold">2:1</div>
                    <div class="p2 mt-1">56:54</div>
                  </td>
                  <td class="fw-bold">2</td>
                  <td class="fw-bold">2.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="mb-6">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-6">
          <a class="pub" href="#" target="_blank">
            <img src="images/content/banner-1.png" loading="lazy" alt="pub" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="pub" href="#" target="_blank">
            <img src="images/content/banner-1.png" loading="lazy" alt="pub" />
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "@components/posts/posts.twig" %} {% include
"@components/partners/partners.twig" %} {% include
"@components/footer/footer.twig" %} {% endblock %}
