{% extends "@components/base/base.twig" %} {% set title =
"35.0_referee-documents" %} {% block main %}
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-row">
        <ul class="header__assn">
          <li>
            <a href="#" target="_blank">
              <img src="images/ico/fivb.svg" loading="lazy" alt="fivb" />
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="images/ico/cev.svg" loading="lazy" alt="cev" />
            </a>
          </li>
        </ul>

        <div class="header__media">
          <ul class="header__links">
            <li>
              <a href="#" class=" ">
                <img src="images/ico/coins.svg" loading="lazy" alt="coins" />
                Dotace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/ball.svg" loading="lazy" alt="ball" />
                Paravolejbal
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img
                  src="images/ico/rozhodci.svg"
                  loading="lazy"
                  alt="rozhodci"
                />
                Rozhodčí
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/nadace.svg" loading="lazy" alt="nadace" />
                Nadace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/play.svg" loading="lazy" alt="play" />
                Volej.tv
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/vis.svg" loading="lazy" alt="vis" />
                VIS
              </a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-row">
        <a class="header__logo" href="">
          <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
        </a>
        <nav class="navbar">
          <ul class="navbar__menu">
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Novinky </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> ČVS </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> REPREZENTACE </a>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">Extraliga</div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#">Články</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Zápasy & výsledky </a>
                </li>
                <li class="dropdown-menu__list">
                  <a
                    class="dropdown-item dropdown-toggle"
                    id="multilevel"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="#"
                    >Statistiky
                  </a>
                  <ul
                    class="dropdown-submenu dropdown-menu"
                    aria-labelledby="multilevel"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Multi level 1</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Multi level 2</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Dokumenty </a>
                </li>
              </ul>
            </li>

            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> SOUTĚŽE </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> BEACHvolejbal </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Mládež </a>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Vzdělávání </a>
            </li>
          </ul>
          <ul class="header__links">
            <li>
              <a href="#" class=" ">
                <img src="images/ico/coins.svg" loading="lazy" alt="coins" />
                Dotace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/ball.svg" loading="lazy" alt="ball" />
                Paravolejbal
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img
                  src="images/ico/rozhodci.svg"
                  loading="lazy"
                  alt="rozhodci"
                />
                Rozhodčí
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/nadace.svg" loading="lazy" alt="nadace" />
                Nadace
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/play.svg" loading="lazy" alt="play" />
                Volej.tv
              </a>
            </li>
            <li>
              <a href="#" class=" ">
                <img src="images/ico/vis.svg" loading="lazy" alt="vis" />
                VIS
              </a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </nav>
        <div id="mobile-search" class="searchBox">
          <form>
            <input type="text" placeholder="Najít na stránce" required />
            <button type="submit" class="btn">Hledat</button>
          </form>
        </div>
        <a href="#" class="header__search">
          <img src="images/ico/search.svg" alt="search" />
        </a>
        <button class="c-header__opener js-header__opener" type="button">
          <span></span>
        </button>
        <div id="subMenuBtn">Extraliga</div>
      </div>
    </div>
  </div>
</header>
{% include "@components/scoreboard/scoreboard.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <section class="subPage">
    <div class="container">
      <div class="subPage-grid">
        <div class="subPage-content w-100">
          <div class="subPage-menu">
            <h1 class="h1">Listiny rozhodčích</h1>
            <div class="subPageFilter subPageFilter-row w-100 d-block">
              <form
                action="/"
                method="post"
                id="frm-filterForm"
                class="row g-3"
              >
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <label class="o-select subPageFilter__select w-100">
                    <select
                      name="documentsId"
                      id="frm-filterForm-documents"
                      class="js-select"
                    >
                      <option value="98">ČVS - listina K</option>
                      <option value="29">ČVS – delegáti A</option>
                      <option value="30">ČVS – delegáti B</option>
                      <option value="27">ČVS – LAJNAŘI</option>
                      <option value="21" selected="selected">
                        ČVS – listina A
                      </option>
                      <option value="22">ČVS – listina B</option>
                      <option value="23">ČVS – listina C</option>
                      <option value="24">ČVS – listina D</option>
                      <option value="25">ČVS – listina EX</option>
                      <option value="3">Hlavní město Praha</option>
                      <option value="20">Jihočeský kraj</option>
                      <option value="41">Jihomoravský kraj - všichni</option>
                      <option value="104">JMK A</option>
                      <option value="106">JMK B</option>
                      <option value="107">JMK C</option>
                      <option value="118">Karlovarský kraj</option>
                      <option value="15">
                        Královehradecký kraj - delegační
                      </option>
                      <option value="14">Královehradecký kraj - komplet</option>
                      <option value="36">
                        Královéhradecký kraj - okres Hradec Králové
                      </option>
                      <option value="16">
                        Královehradecký kraj - okres Náchod
                      </option>
                      <option value="33">
                        Královéhradecký kraj - okres RK
                      </option>
                      <option value="8">Liberecký kraj</option>
                      <option value="133">
                        Moravskoslezský kraj - aktivní 25/26
                      </option>
                      <option value="138">
                        Moravskoslezský kraj - okres F-M 2025/26
                      </option>
                      <option value="54">
                        Moravskoslezský kraj - okres OVA
                      </option>
                      <option value="38">Olomoucký kraj - aktivní</option>
                      <option value="37">Olomoucký kraj - všichni</option>
                      <option value="10">Pardubický kraj</option>
                      <option value="13">Plzeňský kraj</option>
                      <option value="12">Plzeňský kraj - Plzeň město</option>
                      <option value="9">Středočeský kraj</option>
                      <option value="11">Ústecký kraj</option>
                      <option value="58">Vysočina - aktivní</option>
                      <option value="51">Zlínský kraj A</option>
                      <option value="52">Zlínský kraj A</option>
                    </select>
                  </label>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <label class="o-select subPageFilter__select w-sm-auto w-100">
                    <select
                      name="regionId"
                      id="frm-filterForm-regionId"
                      class="js-select"
                    >
                      <option value="0" selected="selected">Neurčeno</option>
                      <option value="1">Hlavní město Praha</option>
                      <option value="2">Středočeský kraj</option>
                      <option value="3">Jihočeský kraj</option>
                      <option value="4">Plzeňský kraj</option>
                      <option value="5">Karlovarský kraj</option>
                      <option value="6">Ústecký kraj</option>
                      <option value="7">Liberecký kraj</option>
                      <option value="8">Královéhradecký kraj</option>
                      <option value="9">Pardubický kraj</option>
                      <option value="10">Kraj Vysočina</option>
                      <option value="11">Jihomoravský kraj</option>
                      <option value="12">Olomoucký kraj</option>
                      <option value="13">Zlínský kraj</option>
                      <option value="14">Moravskoslezský kraj</option>
                    </select>
                  </label>
                </div>
                <div class="col-xl-3 col-md-4">
                  <input class="w-100" type="text" placeholder="Jméno" />
                </div>

                <input type="hidden" name="_do" value="filterForm-submit" />

                <!--[if IE
                  ]><input type="IEbug" disabled style="display: none"
                /><![endif]-->
              </form>
            </div>
          </div>
          <div class="o-content tableBox">
            <table class="tablTournaments">
              <thead>
                <tr>
                  <th class="text-start">Jméno</th>
                  <th class="text-start">Třída</th>
                  <th class="text-center">Listina</th>
                  <th class="text-center">Kraj</th>
                  <th class="text-center">Kontakt</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Činátl Dominik</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">777665591</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Činátl Jakub</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">777665519</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary"
                      >Ištvanech Marián</a
                    >
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Moravskoslezský kraj</td>
                  <td class="text-center">720137509</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Jusič Alen</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">739537904</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Kohlmann Tomáš</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">776422020</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary"
                      >Král Hladisová Michaela</a
                    >
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">733320604</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Kubinec Jan</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Moravskoslezský kraj</td>
                  <td class="text-center">737342751</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary"
                      >Lobo Machado Olga</a
                    >
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">604534157</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Mertl Jakub</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Moravskoslezský kraj</td>
                  <td class="text-center">774568658</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary"
                      >Němeček Ladislav</a
                    >
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Olomoucký kraj</td>
                  <td class="text-center">776721727</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Peloušek Jiří</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Olomoucký kraj</td>
                  <td class="text-center">724185087</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Poláček Jan</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Hlavní město Praha</td>
                  <td class="text-center">728384543</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Pytela Jiří</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Zlínský kraj</td>
                  <td class="text-center">724707432</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Slezák Jan</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Moravskoslezský kraj</td>
                  <td class="text-center">604358588</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Trumpeš Daniel</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Jihomoravský kraj</td>
                  <td class="text-center">724947460</td>
                </tr>

                <tr>
                  <td class="text-start">
                    <a href="#" class="fw-bold text-primary">Vachutka Milan</a>
                  </td>
                  <td class="text-start">1</td>
                  <td class="text-center">A</td>
                  <td class="text-center">Jihomoravský kraj</td>
                  <td class="text-center">606731454</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% include "@components/pagination/pagination.twig" %}
        </div>
      </div>
    </div>
  </section>
  <div class="mb-6">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-6">
          <a class="pub" href="#" target="_blank">
            <img src="images/content/banner-1.png" loading="lazy" alt="pub" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="pub" href="#" target="_blank">
            <img src="images/content/banner-1.png" loading="lazy" alt="pub" />
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "@components/posts/posts.twig" %} {% include
"@components/partners/partners.twig" %} {% include
"@components/footer/footer.twig" %} {% endblock %}
