<div class="detailBox clubDetailBox mb-4">
  <img
    class="clubDetailBox-img"
    src="images/content/club-detail.png"
    width="160"
    height="160"
    alt=""
  />
  <div class="d-flex flex-column gap-3">
    <h1 class="h3">VK Jihostroj České Budějovice</h1>
    <ul class="detailBox__list">
      <li class="detailBox__item">
        <div class="p1 fw-bold">Adresa:</div>
        <div class="p1">TJ Sokol Brno, Kounicova 686 Brno - Veveří, 602 00</div>
      </li>
      <li class="detailBox__item">
        <div class="p1 fw-bold">Založeno:</div>
        <div class="p1">9. 5. 2011</div>
      </li>
      <li class="detailBox__item">
        <div class="p1 fw-bold">Kontakt:</div>
        <div class="p1">
          Matouš Müller (<a href="mailto:matousmuller@volejbalbrno.cz"
            >matousmuller@volejbalbrno.cz</a
          >, tel. <a href="tel:+420607562282">607 562 282</a>)
        </div>
      </li>
    </ul>
  </div>
</div>
<ul class="nav nav-tabs clubDetail-tabs" id="clubDetailTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="results-tab"
      data-bs-toggle="tab"
      data-bs-target="#results"
      type="button"
      role="tab"
    >
      Výsledky
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="lineup-tab"
      data-bs-toggle="tab"
      data-bs-target="#lineup"
      type="button"
      role="tab"
    >
      Soupiska
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="history-tab"
      data-bs-toggle="tab"
      data-bs-target="#history"
      type="button"
      role="tab"
    >
      Historie
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="info-tab"
      data-bs-toggle="tab"
      data-bs-target="#info"
      type="button"
      role="tab"
    >
      Informace
    </button>
  </li>
</ul>

<div class="tab-content" id="clubDetailContent">
  <div class="tab-pane fade show active" id="results" role="tabpanel">
    <h2 class="h3 mb-3">Posledních 5 odehraných zápasů</h2>
    <div class="matchItems">
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22 )</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
    </div>
    <h3 class="h3 mb-3">Nejbližších 5 zápasů</h3>
    <div class="matchItems">
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">
              Dušan Rychlík, Tomáš Buchar, Václav Červený, Jiří Ibl
            </p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">Dušan Rychlík, Tomáš Buchar</p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">
              Dušan Rychlík, Tomáš Buchar, Václav Červený, Jiří Ibl
            </p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">Dušan Rychlík, Tomáš Buchar</p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="lineup" role="tabpanel">
    <h3 class="h2 mb-4">Soupiska</h3>
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <a class="playerItem" href="#">
          <div class="playerItem__avatar">
            <div class="playerItem__img">
              <img src="images/content/ava.jpg" loading="lazy" alt="ava" />
            </div>
            <div class="playerItem__num">13</div>
          </div>

          <div class="playerItem__content">
            <h3 class="h4">Jiří Carba</h3>
            <div class="fw-bold">smečař</div>
            <div class="p2">150 cm</div>
          </div>
        </a>
      </div>
      {% for i in 1..8 %}
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>

      {% endfor %}
    </div>
  </div>

  <div class="tab-pane fade" id="history" role="tabpanel">
    <h2 class="h2 mb-4">Historie</h2>
    <div class="o-content tableBox">
      <table class="tablTournaments">
        <thead>
          <tr>
            <th class="text-start">Sezona</th>
            <th class="text-center">Umístění</th>
            <th class="text-start">Soutěž</th>
            <th class="text-start">Družstvo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-start">2018/2019</td>
            <td class="text-center text-primary fw-bold">5</td>
            <td class="text-start">Extraliga muži</td>
            <td class="text-start">VK ČEZ Karlovarsko</td>
          </tr>
          <tr>
            <td class="text-start">2017/2018</td>
            <td class="text-center text-primary fw-bold">1</td>
            <td class="text-start">Extraliga muži</td>
            <td class="text-start">VK ČEZ Karlovarsko</td>
          </tr>
          <tr>
            <td class="text-start">2016/2017</td>
            <td class="text-center text-primary fw-bold">4</td>
            <td class="text-start">Extraliga muži</td>
            <td class="text-start">VK ČEZ Karlovarsko</td>
          </tr>
          <tr>
            <td class="text-start">2018/2019</td>
            <td class="text-center text-primary fw-bold">5</td>
            <td class="text-start">Extraliga muži</td>
            <td class="text-start">VK ČEZ Karlovarsko</td>
          </tr>
          <tr>
            <td class="text-start">2018/2019</td>
            <td class="text-center text-primary fw-bold">5</td>
            <td class="text-start">Extraliga muži</td>
            <td class="text-start">VK ČEZ Karlovarsko</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="info" role="tabpanel">
    <h2 class="h2 mb-4">Informace</h2>
    <div class="o-content tableBox">
      <table class="tablTournaments">
        <tbody>
          <tr>
            <td class="text-start fw-bold text-primary">Oddíl:</td>
            <td class="text-start fw-bold text-primary">
              <a href="#">VK Karlovarsko, z.s.</a>
            </td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Hala:</td>
            <td class="text-start">Mattoni Arena Hala míčových sportů</td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Adresa:</td>
            <td class="text-start">Západní 1812 Karlovy Vary 36001</td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">MHD:</td>
            <td class="text-start"></td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Výjimky:</td>
            <td class="text-start"></td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Náhradní haly:</td>
            <td class="text-start">
              Sportovní hala Stromovka 1216 České Budějovice - České Budějovice
              2
            </td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Míč:</td>
            <td class="text-start">Gala</td>
          </tr>
          <tr class="table-gap">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">
              Odpovědná osoba družstva:
            </td>
            <td class="text-start">Daniel Pfeffer</td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Adresa:</td>
            <td class="text-start">15500 Praha 5</td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Email:</td>
            <td class="text-start">danielpfeffer@seznam.cz</td>
          </tr>
          <tr>
            <td class="text-start fw-bold text-primary">Telefon:</td>
            <td class="text-start">733545495</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
