<div class="detailBox clubDetailBox mb-4">
  <img
    class="clubDetailBox-img"
    src="images/content/club-detail.png"
    width="160"
    height="160"
    alt=""
  />
  <div class="d-flex flex-column gap-3">
    <h1 class="h3">VK Jihostroj České Budějovice</h1>
    <ul class="detailBox__list">
      <li class="detailBox__item">
        <div class="p1 fw-bold">Adresa:</div>
        <div class="p1">TJ Sokol Brno, Kounicova 686 Brno - Veveří, 602 00</div>
      </li>
      <li class="detailBox__item">
        <div class="p1 fw-bold">Založeno:</div>
        <div class="p1">9. 5. 2011</div>
      </li>
      <li class="detailBox__item">
        <div class="p1 fw-bold">Kontakt:</div>
        <div class="p1">
          Matouš Müller (<a href="mailto:matousmuller@volejbalbrno.cz"
            >matousmuller@volejbalbrno.cz</a
          >, tel. <a href="tel:+420607562282">607 562 282</a>)
        </div>
      </li>
    </ul>
  </div>
</div>
<ul class="nav nav-tabs clubDetail-tabs" id="clubDetailTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="results-tab"
      data-bs-toggle="tab"
      data-bs-target="#results"
      type="button"
      role="tab"
    >
      Výsledky
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="lineup-tab"
      data-bs-toggle="tab"
      data-bs-target="#lineup"
      type="button"
      role="tab"
    >
      Soupiska
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="history-tab"
      data-bs-toggle="tab"
      data-bs-target="#history"
      type="button"
      role="tab"
    >
      Historie
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="info-tab"
      data-bs-toggle="tab"
      data-bs-target="#info"
      type="button"
      role="tab"
    >
      Informace
    </button>
  </li>
</ul>

<div class="tab-content" id="clubDetailContent">
  <div class="tab-pane fade show active" id="results" role="tabpanel">
    <h2 class="h3 mb-3">Posledních 5 odehraných zápasů</h2>
    <div class="matchItems">
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22 )</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <div class="h2">
              3:2
              <span>(-22, -19, 25, 22, -8)</span>
            </div>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
    </div>
    <h3 class="h3 mb-3">Nejbližších 5 zápasů</h3>
    <div class="matchItems">
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-1.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">
              Dušan Rychlík, Tomáš Buchar, Václav Červený, Jiří Ibl
            </p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <a href="#" target="_blank" class="matchItem__media">
            <img src="images/content/tv-2.png" loading="lazy" alt="tv" />
          </a>
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">Dušan Rychlík, Tomáš Buchar</p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>so 26. 10. 2024</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-1.png" loading="lazy" alt="club" />
            <img src="images/content/club-2.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">VK Jihostroj České Budějovice</h4>
            <h4 class="h6">Kladno volejbal cz</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">
              Dušan Rychlík, Tomáš Buchar, Václav Červený, Jiří Ibl
            </p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
      <div class="matchItem">
        <div class="matchItem-left">
          <div class="matchItem__date">
            <p>
              <strong>stř 31. 12. 2025</strong>
            </p>
            <p>18:00 hod.</p>
          </div>
          <div class="matchItem__logos">
            <img src="images/content/club-3.png" loading="lazy" alt="club" />
            <img src="images/content/club-4.png" loading="lazy" alt="club" />
          </div>
          <div class="matchItem__teams">
            <h4 class="h6">AERO Odolena Voda</h4>
            <h4 class="h6">Black Volley Beskydy</h4>
          </div>
        </div>
        <div class="matchItem-right">
          <div class="matchItem__referees">
            <img
              src="images/ico/rozhodci-b.svg"
              loading="lazy"
              alt="rozhodci"
            />
            <p class="p2">Dušan Rychlík, Tomáš Buchar</p>
          </div>
          <a href="#" class="link"> Detail zápasu </a>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="lineup" role="tabpanel">
    <h3 class="h2 mb-4">Soupiska</h3>
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <a class="playerItem" href="#">
          <div class="playerItem__img">
            <img src="images/content/ava.jpg" loading="lazy" alt="ava" />
          </div>
          <div class="playerItem__content">
            <h3 class="h4">Matouš Drahoňovský</h3>
            <div class="fw-bold">smečař</div>
            <div class="p2">nar. 17. 11. 1993 (31 let)</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/playerItem/playerItem.twig" %}
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="history" role="tabpanel">
    <h2 class="h2 mb-4">Historie</h1>
    <div class="o-content">
      <p>
        <strong>
          Název subjektu je Český volejbalový svaz (dále jen „ČVS"). V anglické
          verzi se používá název Czech Volleyball Federation. ČVS je spolkem ve
          smyslu zákona č. 89/2012 Sb., občanský zákoník, v platném znění. ČVS
          je právnickou osobou (IČ 00540285), která svoji činnost vykonává v
          souladu s právními předpisy České republiky. Sídlem ČVS je Praha.
        </strong>
      </p>
      <p>
        Český volejbalový svaz je jediným subjektem uznaným Ministerstvem
        školství, mládeže a tělovýchovy České republiky a Českým olympijským
        výborem a současně jediným garantem rozvoje volejbalu pověřeným řízením
        volejbalu a beachvolejbalu (dále jen „volejbalu") na území České
        republiky. ČVS je zakládajícím členem mezinárodních volejbalových
        organizací: Mezinárodní volejbalové federace (dále jen „FIVB") a
        Evropské volejbalové konfederace (dále jen „CEV"). Jejich základní
        dokumenty jsou východiskem pro činnost ČVS a musí být respektovány i
        jakoukoliv třetí stranou podílející se v součinnosti s ČVS na rozvoji
        volejbalu v České republice. Na území České republiky jsou celostátní
        orgány ČVS (konference ČVS, výbor ČVS, správní rada ČVS) oprávněny
        rozhodnout o případných odlišnostech směrnic ČVS oproti dokumentům FIVB
        a CEV. ČVS je jediným představitelem českého volejbalu v těchto
        mezinárodních organizacích.
      </p>
      <p>
        Účelem (hlavní činností, posláním) ČVS je vytváření podmínek pro rozvoj
        všech forem a výkonnostních úrovní volejbalu a beachvolejbalu včetně
        masového a rekreačního. ČVS zabezpečuje státní reprezentaci a podporuje
        reprezentaci oddílovou. Účelem (hlavní činností, posláním) ČVS je dále v
        rozsahu své působnosti chránit práva svých členů, školit, doškolovat a
        zabezpečovat vzdělávání trenérů, rozhodčích, školitelů a dalších
        odborných volejbalových funkcionářů, zavádět moderní technologie do
        tréninkových a vzdělávacích procesů a do organizace a řízení soutěží.
      </p>
      <p>
        ČVS je výhradním majitelem, zřizovatelem a organizátorem volejbalových
        soutěží a akcí na území České republiky, které řídí svými orgány všech
        úrovní v duchu dokumentů FIVB a CEV a na základě směrnic ČVS. Český
        volejbalový svaz může být sdružen v jiné organizaci s právem kdykoli z
        ní vystoupit. O začlenění nebo o vystoupení rozhoduje výbor ČVS.
      </p>
      <p>
        ČVS může za účelem zajištění materiálních a finančních prostředků pro
        rozvoj volejbalu vyvíjet také vedlejší hospodářskou činnost, může
        zakládat obchodní Číslo 00/2015 „Stanovy Českého volejbalového svazu“
        Strana 3 společnost a vstupovat do obchodních společností a jiných
        organizací. Tyto činnosti může vykonávat pouze v souladu s právními
        předpisy České republiky. 8. Jednotlivým subjektům sdruženým v ČVS
        náleží všechna individuální práva vycházející z jejich základního
        poslání s výjimkou oprávnění uvedených v odstavci 4. tohoto článku a v
        článku 22, pokud nebude smluvně sjednáno nebo směrnicí ČVS stanoveno
        jinak.
      </p>
      <p>
        Účelem (hlavní činností, posláním) ČVS je vytváření podmínek pro rozvoj
        všech forem a výkonnostních úrovní volejbalu a beachvolejbalu včetně
        masového a rekreačního. ČVS zabezpečuje státní reprezentaci a podporuje
        reprezentaci oddílovou. Účelem (hlavní činností, posláním) ČVS je dále v
        rozsahu své působnosti chránit práva svých členů, školit, doškolovat a
        zabezpečovat vzdělávání trenérů, rozhodčích, školitelů a dalších
        odborných volejbalových funkcionářů, zavádět moderní technologie do
        tréninkových a vzdělávacích procesů a do organizace a řízení soutěží.
      </p>
      
      <p>
        ČVS je výhradním majitelem, zřizovatelem a organizátorem volejbalových
        soutěží a akcí na území České republiky, které řídí svými orgány všech
        úrovní v duchu dokumentů FIVB a CEV a na základě směrnic ČVS. Český
        volejbalový svaz může být sdružen v jiné organizaci s právem kdykoli z
        ní vystoupit. O začlenění nebo o vystoupení rozhoduje výbor ČVS.
      </p>

     
      <p>
        ČVS může za účelem zajištění materiálních a finančních prostředků pro
        rozvoj volejbalu vyvíjet také vedlejší hospodářskou činnost, může
        zakládat obchodní Číslo 00/2015 „Stanovy Českého volejbalového svazu“
        Strana 3 společnost a vstupovat do obchodních společností a jiných
        organizací. Tyto činnosti může vykonávat pouze v souladu s právními
        předpisy České republiky. 8. Jednotlivým subjektům sdruženým v ČVS
        náleží všechna individuální práva vycházející z jejich základního
        poslání s výjimkou oprávnění uvedených v odstavci 4. tohoto článku a v
        článku 22, pokud nebude smluvně sjednáno nebo směrnicí ČVS stanoveno
        jinak.
      </p>
    </div>
  </div>

  <div class="tab-pane fade" id="info" role="tabpanel">
    <h2 class="h2 mb-4">Informace</h1>
    <div class="o-content">
      <p>
        <strong>
          Název subjektu je Český volejbalový svaz (dále jen „ČVS"). V anglické
          verzi se používá název Czech Volleyball Federation. ČVS je spolkem ve
          smyslu zákona č. 89/2012 Sb., občanský zákoník, v platném znění. ČVS
          je právnickou osobou (IČ 00540285), která svoji činnost vykonává v
          souladu s právními předpisy České republiky. Sídlem ČVS je Praha.
        </strong>
      </p>
      <p>
        Český volejbalový svaz je jediným subjektem uznaným Ministerstvem
        školství, mládeže a tělovýchovy České republiky a Českým olympijským
        výborem a současně jediným garantem rozvoje volejbalu pověřeným řízením
        volejbalu a beachvolejbalu (dále jen „volejbalu") na území České
        republiky. ČVS je zakládajícím členem mezinárodních volejbalových
        organizací: Mezinárodní volejbalové federace (dále jen „FIVB") a
        Evropské volejbalové konfederace (dále jen „CEV"). Jejich základní
        dokumenty jsou východiskem pro činnost ČVS a musí být respektovány i
        jakoukoliv třetí stranou podílející se v součinnosti s ČVS na rozvoji
        volejbalu v České republice. Na území České republiky jsou celostátní
        orgány ČVS (konference ČVS, výbor ČVS, správní rada ČVS) oprávněny
        rozhodnout o případných odlišnostech směrnic ČVS oproti dokumentům FIVB
        a CEV. ČVS je jediným představitelem českého volejbalu v těchto
        mezinárodních organizacích.
      </p>
      <p>
        Účelem (hlavní činností, posláním) ČVS je vytváření podmínek pro rozvoj
        všech forem a výkonnostních úrovní volejbalu a beachvolejbalu včetně
        masového a rekreačního. ČVS zabezpečuje státní reprezentaci a podporuje
        reprezentaci oddílovou. Účelem (hlavní činností, posláním) ČVS je dále v
        rozsahu své působnosti chránit práva svých členů, školit, doškolovat a
        zabezpečovat vzdělávání trenérů, rozhodčích, školitelů a dalších
        odborných volejbalových funkcionářů, zavádět moderní technologie do
        tréninkových a vzdělávacích procesů a do organizace a řízení soutěží.
      </p>
      <p>
        ČVS je výhradním majitelem, zřizovatelem a organizátorem volejbalových
        soutěží a akcí na území České republiky, které řídí svými orgány všech
        úrovní v duchu dokumentů FIVB a CEV a na základě směrnic ČVS. Český
        volejbalový svaz může být sdružen v jiné organizaci s právem kdykoli z
        ní vystoupit. O začlenění nebo o vystoupení rozhoduje výbor ČVS.
      </p>
      <p>
        ČVS může za účelem zajištění materiálních a finančních prostředků pro
        rozvoj volejbalu vyvíjet také vedlejší hospodářskou činnost, může
        zakládat obchodní Číslo 00/2015 „Stanovy Českého volejbalového svazu“
        Strana 3 společnost a vstupovat do obchodních společností a jiných
        organizací. Tyto činnosti může vykonávat pouze v souladu s právními
        předpisy České republiky. 8. Jednotlivým subjektům sdruženým v ČVS
        náleží všechna individuální práva vycházející z jejich základního
        poslání s výjimkou oprávnění uvedených v odstavci 4. tohoto článku a v
        článku 22, pokud nebude smluvně sjednáno nebo směrnicí ČVS stanoveno
        jinak.
      </p>
      <p>
        Účelem (hlavní činností, posláním) ČVS je vytváření podmínek pro rozvoj
        všech forem a výkonnostních úrovní volejbalu a beachvolejbalu včetně
        masového a rekreačního. ČVS zabezpečuje státní reprezentaci a podporuje
        reprezentaci oddílovou. Účelem (hlavní činností, posláním) ČVS je dále v
        rozsahu své působnosti chránit práva svých členů, školit, doškolovat a
        zabezpečovat vzdělávání trenérů, rozhodčích, školitelů a dalších
        odborných volejbalových funkcionářů, zavádět moderní technologie do
        tréninkových a vzdělávacích procesů a do organizace a řízení soutěží.
      </p>
      
      <p>
        ČVS je výhradním majitelem, zřizovatelem a organizátorem volejbalových
        soutěží a akcí na území České republiky, které řídí svými orgány všech
        úrovní v duchu dokumentů FIVB a CEV a na základě směrnic ČVS. Český
        volejbalový svaz může být sdružen v jiné organizaci s právem kdykoli z
        ní vystoupit. O začlenění nebo o vystoupení rozhoduje výbor ČVS.
      </p>

     
      <p>
        ČVS může za účelem zajištění materiálních a finančních prostředků pro
        rozvoj volejbalu vyvíjet také vedlejší hospodářskou činnost, může
        zakládat obchodní Číslo 00/2015 „Stanovy Českého volejbalového svazu“
        Strana 3 společnost a vstupovat do obchodních společností a jiných
        organizací. Tyto činnosti může vykonávat pouze v souladu s právními
        předpisy České republiky. 8. Jednotlivým subjektům sdruženým v ČVS
        náleží všechna individuální práva vycházející z jejich základního
        poslání s výjimkou oprávnění uvedených v odstavci 4. tohoto článku a v
        článku 22, pokud nebude smluvně sjednáno nebo směrnicí ČVS stanoveno
        jinak.
      </p>
    </div>  
  </div>
</div>
